<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Travel App</title>
  </head>
  <body class="wrapper">
    <section id="main">
        <div class="container">
          <p class="paragraph">
            Where are you traveling to?
          </p>
          <form id="form">
            <input
              class="input"
              id="city"
              type="text"
              name="city"
              value=""
              required
            />
            <div>
              <label class="paragraph"
              id="start_date"
              for="start" 
              id="start">
              <p class="paragraph"
              >Start Date:
              </p>
            </label>
              <input type="date"
              class="input"
              id="date_input"
              name="trip-start"
              value=""
              min="2020-04-21" 
              max="2020-04-31"
              required
              >
            </div>
            <button
              type="submit"
              id="submit"
              type="submit"
              name="submit"
              value="Submit"
            >Let's go!
          </button>
          </form>
        </div>
    </section>
    <section>
        <div class="results">
          <h2>This is what I got for you</h2>
          <div class="res-txt" id="cityValue"></div>
          <div class="res-date" id="dateValue"></div>
          <div class="res-txt" id="summaryRes"></div>
          <div id="iconRes">
              <canvas class="icon" width="128" height="128"></canvas>
          </div>
          <img id="image">
          </div>
        </div>
      </section>
  </body>
</html>