<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Travel App</title>
  </head>
  <body class="wrapper">
    <header>
    </header>
    <main id="main">
    <section>
        <div class="container">
          <p class="paragraph">
            Where are you traveling to?
          </p>
          <form id="form">
            <input
              class="input"
              id="city"
              type="text"
              name="city"
              value=""
              placeholder="Your Input"
              required
            />
            <div>
              <label class="paragraph"
              id="start_date"
              for="start" 
              id="start">
              Start Date:
            </label>
              <input type="date"
              class="input"
              id="city"
              name="trip-start"
              value=""
              min="2020-04-21" 
              max="2020-04-31"
              required
              >
            </div>
            <button
              type="submit"
              id="submit"
              type="submit"
              name="submit"
              value="Submit"
            >Submit</button>
          </form>
        </div>
    </section>
    <section class="container">
        <div class="results">
          <h2>The weather should be...</h2>
          <div id="cityValue"></div>
          <div id="summaryRes"></div>
          <div id="iconRes">
              <canvas class="icon" width="128" height="128"></canvas>
          </div>
          <img id="image">
          </div>
        </div>
      </section>
    </main>
  </body>
</html>