.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(auto, 1fr); 
}

.paragraph {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  margin: 20px;
}

figure {
	margin: 5em auto;
	width: 350px;
	height: 150px;
}

body {
  background-image: url('../media/background.jpg');
  background-attachment: fixed;
  background-repeat: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  display: flex;
  // grid-column: 3 / 6;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
}
.results {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#cityValue {
  display: flex;
  flex-direction: row;
  justify-items: center;
  background: #f23557;
}

#summaryRes {
  display: flex;
  flex-direction: row;
  justify-items: center;
  background: #f23557;
}

#iconRes {
  display: flex;
  flex-direction: row;
  justify-items: center;
  background: #f23557;
}

#imgRes {
  display: flex;
  flex-direction: row;
  justify-items: center;
  background: #f23557;
}

// #app {
//   display: grid;
//   grid-auto-rows: minmax(150px, auto);
//   /* grid-template-columns:  */
//   height: 100vh;
//   background: #f23557;
//   color: #f0d43a;
//   justify-content: center;
//   grid-gap: 1em;
//   font-size: 20px;
//   font-family: "Oswald", sans-serif;
// }

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
  z-index: 10000;
}  

#header-img {
  background-image: url('../media/logo.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
/*  Basic Styling To Override Default For Basic HTML Elements */

#city {
  margin-bottom: 20px;
}

.input {
  display: block;
  height: 60px;
  width: 320px;
  background: #005a5a;
  color: #baf4ce;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  width: 400px;
  height: 75px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  cursor: pointer;
}
h1 {
  font-size: 36px;
}

#dates{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

#start {
  padding-bottom: 20px;
}

#submit {
  margin-bottom: 30px;
}

textarea {
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
