.paragraph {
  color: #c1f3d0;
  font-family: Luminari, fantasy;
  font-size: 24px;
  margin: 20px;
  text-align: center;
}

.results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  color: #c1f3d0;
  font-family: Luminari, fantasy;
  font-size: 24px;
  margin: 20px;
  text-align: center;
}

figure {
	margin: 5em auto;
	width: 350px;
	height: 150px;
}

body {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../media/background.jpg') center no-repeat fixed;
  background-size: cover;
}

.res-txt {
  color: #c1f3d0;
  font-family: Luminari, fantasy;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

#cityValue {
  display: flex;
  justify-items: center;
  justify-content: center;
}

#summaryRes {
  box-sizing: border-box;
  padding: 10px;
}

#iconRes {
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

#imgRes {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
  z-index: 10000;
}  

#header-img {
  background-image: url('../media/logo.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
/*  Basic Styling To Override Default For Basic HTML Elements */

.input {
  display: block;
  height: 60px;
  width: 320px;
  background: #005a5a;
  color: #c1f3d0;
  font-size: 20px;
  font-family: Luminari, fantasy;
  border: none;
  text-align: center;
  align-self: center;
}

button {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  position: relative;
  margin-left: 90px;
  color: #c1f3d0;
  background: #005a5a;
  font-size: 18px;
  font-weight: bold;
  font-family: Bradley Hand, cursive;
  border-radius: 5px;
  box-shadow: 2px 4px 5px #444;
  cursor: pointer;
}

button:hover{
  color: #005a5a;
  background: #baf4ce;
  transition: all 0.3s ease;
}

h1 {
  font-size: 36px;
}

#dates{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

#start {
  padding-bottom: 20px;
}


/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
